* {
	box-sizing: border-box;
}

body {
	background-color: #000;
	color: #aaa;
	font: 18px Metrophobic, sans-serif;
}

a:link, a:visited, a:active {
	color: #58a;
	text-decoration: none;
}
a:hover {
	color: #5ad;
}

canvas#game {
	display: block;
}
tooltip {
	position: absolute;
	pointer-events: none;
	background-color: #111;
	border: 1px solid #fc0;
	padding: 4px 8px;
	opacity: 0;
	transition: opacity 0.25s;
}
button {
	display: none;
	position: absolute;
	font-family: inherit;
	font-size: 24px;
	font-weight: bold;
	padding: 4px 16px;
	border: 1px solid #eee;
	color: #111;
}
button:disabled {
	border-color: #aaa;
	color: #444;
}
button#start {
	bottom: 20px;
	right: 20px;
	background-color: #6c8;
}
button#start:disabled {
	background-color: #7a9;
}
button#restart {
	bottom: 70px;
	right: 20px;
	background-color: #c68;
}
button#restart:disabled {
	background-color: #a79;
}

main, footer {
	width: 640px;
	margin: 100px auto;
}
main {
	position: relative;
	height: 640px;
}
main a {
	display: block;
	margin-bottom: 1em;
}
main img {
	height: 32px;
}
footer {
	text-align: right;
}
