* {
	box-sizing: border-box;
}

body {
	background-color: #000;
	color: #aaa;
	font: 18px Metrophobic, sans-serif;
}

a:link, a:visited, a:active {
	color: #58a;
	text-decoration: none;
}
a:hover {
	color: #5ad;
}

canvas#game {
	display: block;
	margin: 40px auto;
}
tooltip {
	position: absolute;
	pointer-events: none;
	width: 200px;
	height: 5em;
	background-color: #111;
	border: 1px solid #fc0;
	padding: 4px 8px;
	opacity: 0;
	transition: opacity 0.25s;
}

main, footer {
	width: 600px;
	margin: 100px auto;
}
main a {
	display: block;
	margin-bottom: 1em;
}
main img {
	height: 32px;
}
footer {
	text-align: right;
}
